@charset "UTF-8";
/* 
    Author: Rifat Bhuiya
    Author mail: hello.rifatbhuiya@gmail.com
*/

/*
--------------------------
    Table Of Content
--------------------------
* 0) Fonts CSS Start
* 0.1) Common CSS Start
* 1) Header CSS Start
* 2) Easy Action CSS Start
* 3) Btt CSS Start
* 4) Hero CSS Start
*/

@font-face {
    font-family: "Jazmin-Thin";
    font-style: normal;
    font-weight: 100;
    src: url(../fonts/Jazmin-Thin.ttf) format("truetype");
}

@font-face {
    font-family: "Jazmin-ExtraLight";
    font-style: normal;
    font-weight: 200;
    src: url(../fonts/Jazmin-ExtraLight.ttf) format("truetype");
}

@font-face {
    font-family: "Jazmin-Light";
    font-style: normal;
    font-weight: 300;
    src: url(../fonts/Jazmin-Light.ttf) format("truetype");
}

@font-face {
    font-family: "Jazmin-Regular";
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/Jazmin-Regular.ttf) format("truetype");
}

@font-face {
    font-family: "Jazmin-Medium";
    font-style: normal;
    font-weight: 500;
    src: url(../fonts/Jazmin-Medium.ttf) format("truetype");
}

@font-face {
    font-family: "Jazmin-SemiBold";
    font-style: normal;
    font-weight: 600;
    src: url(../fonts/Jazmin-SemiBold.ttf) format("truetype");
}

@font-face {
    font-family: "Jazmin-Bold";
    font-style: normal;
    font-weight: 700;
    src: url(../fonts/Jazmin-Bold.ttf) format("truetype");
}

@font-face {
    font-family: "Jazmin-Black";
    font-style: normal;
    font-weight: 900;
    src: url(../fonts/Jazmin-Black.ttf) format("truetype");
}
/* Font CSS End */

:root {
    /* Colors */
    --primary_color: #6f4725;
    --primary_light: #b99267;
    --primary_dark: #41260f;
    --white_color: #ffffff;
    --cream_color: #f8f7f6;
    --black_color: #000000;
    --text_color: #5c5f5f;

    /* Round */
    --round_sm: 3px;
    --round_md: 5px;
    --round_lg: 25px;
    --round_full: 50%;

    /* Duration */
    --transition: all ease-in-out .5s;

    /* Fonts */
    --font_thin: "Jazmin-Thin", sans-serif;
    --font_extra_light: "Jazmin-ExtraLight", sans-serif;
    --font_light: "Jazmin-Light", sans-serif;
    --font_regular: "Jazmin-Regular", sans-serif;
    --font_medium: "Jazmin-Medium", sans-serif;
    --font_semibold: "Jazmin-SemiBold", sans-serif;
    --font_bold: "Jazmin-Bold", sans-serif;
    --font_black: "Jazmin-Black", sans-serif;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: var(--gray_color); 
}

::-webkit-scrollbar-thumb {
  background: var(--logo_gray); 
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
ul,
ol,
li,
span,
address,
blockquote,
hr {
    margin: 0;
    padding: 0;
}

ul,
ol {
    list-style: none;
}

a {
    display: inline-block;
    text-decoration: none;
}

img,
svg {
    vertical-align: middle;
}

body {
    font-size: var(--bs);
    scroll-behavior: smooth;
    font-family: var(--font_regular);
    background-color: var(--cream_color);
}

a {
    transition: var(--transition);
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -ms-transition: var(--transition);
    -o-transition: var(--transition);
}

.section-padding {
    padding: 80px 0;
}

.section-padding-bottom {
    padding-bottom: 80px;
}

.section-small-title {
    font-size: clamp(11px,.977vw,15px);
    line-height: clamp(20px,1.302vw,20px);
    font-family: var(--font_medium);
    text-transform: uppercase;
    color: rgba(111,71,37,0.59);
    padding-bottom: 2.5%;
}

.section-heading {
    font-size: clamp(20px,1.823vw,28px);
    line-height: clamp(30px,2.083vw,32px);
    text-transform: uppercase;
    color: var(--primary_color);
    font-family: var(--font_light);
    padding-bottom: 4.05%
}

.section-description {
    color: var(--text_color);
    font-size: clamp(11px,.911vw,14px);
    line-height: clamp(20px,1.563vw,24px);
}
/* Common CSS End */

.main-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    background-color: rgba(0, 0, 0, 0.3);
    transition: var(--transition);
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -ms-transition: var(--transition);
    -o-transition: var(--transition);
}

.main-header.fixed-header {
    background-color: var(--cream_color);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}

.main-header .logo {
    width: 120px;
    filter: brightness(0) invert(1);
    transition: var(--transition);
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -ms-transition: var(--transition);
    -o-transition: var(--transition);
}

.main-header.fixed-header .logo {
    filter: none;
    -webkit-filter: none;
}

.main-header .menu-nav-btn {
    display: flex;
    align-items: center;
    color: var(--white_color);
    background-color: transparent;
    border: 0;
    width: auto;
    height: 100%;
    padding: 20px 20px 20px 0;
    z-index: 10;
    position: relative;
}

.main-header.fixed-header .menu-nav-btn {
    color: var(--black_color);
}

.main-header .menu-nav-btn .hamburger-parent {
    display: flex;
    flex-direction: column;
    height: 17px;
    justify-content: space-between;
}

.main-header .menu-nav-btn .hamburger {
    display: inline-flex;
    position: relative;
    width: 22px;
    height: 100%;
    justify-content: center;
    text-align: center;
}

.main-header .menu-nav-btn .menui.top-bar {
    top: 0;
}

.main-header .menu-nav-btn .menui.mid-bar {
    top: 8px;
}

.main-header .menu-nav-btn .menui.bottom-bar {
    top: 16px;
}

.main-header .menu-nav-btn.open .menui.top-bar {
    top: 8px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.main-header .menu-nav-btn.open .menui.mid-bar {
    opacity: 0;
}

.main-header .menu-nav-btn:hover .menui.mid-bar {
    transform: translateX(-8px);
}

.main-header .menu-nav-btn.open .menui.bottom-bar {
    top: 8px;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
}

.main-header .menu-nav-btn .menui {
    background-color: var(--white_color);
    display: block;
    position: absolute;
    height: 1px;
    width: 22px;
    transition: all ease-in-out .3s;
    -webkit-transition: all ease-in-out .3s;
    -o-transition: all ease-in-out .3s;
    -moz-transition: all ease-in-out .3s;
    -ms-transition: all ease-in-out .3s;
}

.main-header.fixed-header .menu-nav-btn .menui {
    background-color: var(--black_color);
}

.main-header .sidebar {
    position: absolute;
    top: 90px;
    left: 0;
    display: none;
    z-index: 100;
}

.main-header .sidebar ul {
    height: 100%;
    padding-left: 60px;
    padding-top: 60px;
    background-color: rgba(111, 71, 37, 0.7);
    width: 300px;
    height: 100vh;
}

.main-header .sidebar ul li:not(:last-child) {
    margin-bottom: 3.50%;
}

.main-header .sidebar ul a {
    color: var(--white_color);
    text-transform: uppercase;
    font-size: clamp(16px,1.302vw,20px);
    line-height: clamp(20px,1.822vw,28px);
    letter-spacing: 1px;
    font-family: var(--font_light);
    position: relative;
}

.main-header .sidebar ul a::after {
    position: absolute;
    content: '';
    bottom: -1px;
    left: 0;
    height: 1px;
    width: 0;
    background-color: var(--white_color);
    transition: var(--transition);
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -ms-transition: var(--transition);
    -o-transition: var(--transition);
}

.main-header .sidebar ul a:hover::after {
    width: 100%;
}

.main-header hr {
    border-color: rgba(243,228,206,0.60);
}

.main-header.fixed-header hr {
    border-color: rgba(111,71,71,0.7);
}

.main-header .nav-items a {
    color: var(--white_color);
    text-transform: uppercase;
    font-size: 16px;
}

.main-header.fixed-header .nav-items a {
    color: var(--primary_color);
}

.main-header .nav-items .dropdown-li .dropdown-child {
    position: absolute;
    top: 100%;
    left: -40px;
    padding: 8px;
    min-width: 200px;
    background-color: var(--white_color);
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    display: none;
    transition: var(--transition);
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -ms-transition: var(--transition);
    -o-transition: var(--transition);
}

.main-header .nav-items .dropdown-li:hover .dropdown-child {
    display: block;
}

.main-header .nav-items .dropdown-li .dropdown-child li:not(:last-child) {
    margin-bottom: 8px;
}

.main-header .nav-items .dropdown-li .dropdown-child a {
    color: var(--primary_color);
}
/* Header CSS End */

.ea {
    position: fixed;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    z-index: 50;
}

.ea li:first-child a {
    width: 50px;
    padding: 8px 0 8px 16px;
    font-size: 14px;
    line-height: 1.0;
    text-transform: uppercase;
    writing-mode: vertical-lr;
    -webkit-writing-mode: vertical-lr;
    -ms-writing-mode: vertical-lr;
    text-orientation: upright;
    -webkit-text-orientation: upright;
}

.ea li:first-child a:hover {
    background-color: var(--primary_dark);
}

.ea li a {
    width: 40px;
    color: var(--white_color);
    background-color: var(--primary_color);
}

.ea li:not(:first-child) a {
    width: 50px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    margin-bottom: 6px;
    font-size: 17px;
}

.ea li:not(:first-child) a:hover {
    background-color: var(--primary_dark);
}
/* Easy Action CSS End */

.btt {
    position: fixed;
    bottom: 24px;
    right: 20px;
    z-index: 50;
    display: none;
}

.btt i {
    height: 40px;
    width: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 17px;
    color: var(--white_color);
    background-color: var(--primary_color);
    border-radius: var(--round_md);
    -webkit-border-radius: var(--round_md);
    -moz-border-radius: var(--round_md);
    -ms-border-radius: var(--round_md);
    -o-border-radius: var(--round_md);
    cursor: pointer;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}
/* Easy Action CSS End */

#hero video {
    object-fit: cover;
    object-position: center;
}
/* Hero CSS End */

.about ul a {
    text-transform: uppercase;
    font-family: var(--font_medium);
    letter-spacing: 1.2px;
    font-size: clamp(11px,.846vw,13px);
    line-height: clamp(24px, 1.563vw, 24px);
    color: var(--primary_color);
}

.about ul li:first-child a {
    position: relative;
}

.about ul li:first-child a::after {
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    height: 2px;
    width: 60%;
    background-color: var(--primary_color);
    transition: var(--transition);
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -ms-transition: var(--transition);
    -o-transition: var(--transition);
}

.about ul li:first-child a:hover::after {
    width: 80%;
}
/* About CSS End */

.wellness .slider-content img {
    height: 500px;
    object-fit: cover;
    object-position: center;
}

.wellness .slider-content .overlay {
    bottom: 12%;
    left: 0;
    width: 100%;
    background-color: rgba(238,231,221,0.72);
    padding: 3%;
    text-align: center;
}

.wellness .slider-content .overlay h3 {
    text-transform: uppercase;
    color: var(--primary_color);
    font-size: clamp(20px,1.563vw,24px);
    line-height: clamp(30px,1.953vw,30px);
}

.wellness .slick-dots {
    position: absolute;
    bottom: 1%;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

.wellness .slick-dots li {
    display: inline-block;
    margin: 0 2px;
}

.wellness .slick-dots li button {
    height: 10px;
    width: 10px;
    background-color: transparent;
    border: 1px solid var(--white_color);
    color: transparent;
    border-radius: var(--round_full);
    -webkit-border-radius: var(--round_full);
    -moz-border-radius: var(--round_full);
    -ms-border-radius: var(--round_full);
    -o-border-radius: var(--round_full);
    transition: var(--transition);
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -ms-transition: var(--transition);
    -o-transition: var(--transition);
}

.wellness .slick-dots li.slick-active button {
    background-color: var(--white_color);
}

.wellness ul a {
    text-transform: uppercase;
    font-family: var(--font_medium);
    letter-spacing: 1.2px;
    font-size: clamp(11px,.846vw,13px);
    line-height: clamp(24px, 1.563vw, 24px);
    color: var(--primary_color);
}

.wellness ul li:first-child a {
    position: relative;
}

.wellness ul li:first-child a::after {
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    height: 2px;
    width: 60%;
    background-color: var(--primary_color);
    transition: var(--transition);
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -ms-transition: var(--transition);
    -o-transition: var(--transition);
}

.wellness ul li:first-child a:hover::after {
    width: 80%;
}

.wellness .icon {
    bottom: -50px;
    right: 0;
}
/* Wellness CSS End */

.quote {
    height: 500px;
    position: relative;
    z-index: 1;
    color: var(--white_color);
}

.quote::after {
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
}

.quote blockquote {
    font-size: clamp(20px,1.563vw,24px);
    line-height: clamp(30px,1.953vw,30px);
}
/* Blockquote CSS End */

.faq .slider-content img {
    height: 500px;
    object-fit: cover;
    object-position: center;
}

.faq .faq-slider .slick-dots {
    position: absolute;
    bottom: 2%;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

.faq .faq-slider .slick-dots li {
    display: inline-block;
    margin: 0 2px;
}

.faq .faq-slider .slick-dots li button {
    height: 10px;
    width: 10px;
    background-color: transparent;
    border: 1px solid var(--white_color);
    color: transparent;
    border-radius: var(--round_full);
    -webkit-border-radius: var(--round_full);
    -moz-border-radius: var(--round_full);
    -ms-border-radius: var(--round_full);
    -o-border-radius: var(--round_full);
    transition: var(--transition);
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -ms-transition: var(--transition);
    -o-transition: var(--transition);
}

.faq .faq-slider .slick-dots li.slick-active button {
    background-color: var(--white_color);
}

.faq .accordion-button:not(.collapsed) {
    background-color: transparent;
    box-shadow: none;
}

.faq .accordion-button:focus {
    border-color: none;
    box-shadow: none;
}

.faq .accordion-item {
    background-color: transparent;
}

.faq .accordion-button {
    padding: var(--bs-accordion-btn-padding-y) 8px;
    background-color: transparent;
}

.faq .accordion-body {
    padding: 8px;
}

.faq h4.accordion-header button {
    color: var(--primary_light);
    text-transform: uppercase;
    font-family: var(--font_light);
    font-size: clamp(11px,.977vw,15px);
    line-height: clamp(24px,1.563vw,24px);
}

.faq .accordion-body p {
    font-size: clamp(11px,.911vw,14px);
    line-height: clamp(20px,1.563vw,24px);
}
/* Faq CSS End */

.packages .section-small-title {
    padding-bottom: 1%;
}

.packages .package-card img {
    height: 480px;
    object-fit: cover;
    object-position: center;
}

.packages .overlay {
    padding: 22% 6% 6%;
    width: 100%;
    color: var(--white_color);
    background: linear-gradient(0,var(--black_color) 0,rgba(111,71,37,0.00) 100%);
}
.packages .package-card .overlay h3 {
    text-transform: uppercase;
    animation: translateDown .8s ease-in-out;
    -webkit-animation: translateDown .8s ease-in-out;
    font-family: var(--font_light);
    font-size: clamp(15px,1.302vw,20px);
    line-height: clamp(20px,1.628vw,25px);
}

.packages .package-card:hover .overlay h3 {
    animation: translateUp .8s ease-in-out;
    -webkit-animation: translateUp .8s ease-in-out;
}

.packages .package-card .overlay p {
    padding: 4% 9% 2% 0;
    display: none;
    font-size: clamp(11px,1.075vw,15px);
    animation: translateDown .8s ease-in-out;
    -webkit-animation: translateDown .8s ease-in-out;
}

.packages .package-card:hover .overlay p {
    display: block;
    animation: translateUp .8s ease-in-out;
    -webkit-animation: translateUp .8s ease-in-out;
}

@keyframes translateDown {
    0% {
        transform: translateY(-100%)
    }

    100% {
        transform: translateY(0%)
    }
}

@keyframes translateUp {
    0% {
        transform: translateY(100%);
        opacity: 0
    }

    100% {
        transform: translateY(0);
        opacity: 1
    }
}

.packages .package-card .overlay li a {
    color: var(--white_color);
    text-transform: uppercase;
    letter-spacing: 1.2px;
    font-size: clamp(11px,.846vw,13px);
    line-height: clamp(24px,1.563vw,24px);
    position: relative;
}

.packages .package-card .overlay li a::after {
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    height: 2px;
    width: 80%;
    background-color: var(--white_color);
    transition: var(--transition);
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -ms-transition: var(--transition);
    -o-transition: var(--transition);
}

.packages .package-card:hover .overlay ul li:first-child a::after {
    width: 92%;
}

.packages .package-card .overlay ul li:last-child a:hover::after {
    width: 92%;
}
/* Packages CSS End */

.experience-slider .slider-content img {
    height: 500px;
    object-fit: cover;
    object-position: center;
}

.experiences .section-small-title {
    padding-bottom: 1%;
}

.experiences .experience-slider .slider-content.slick-slide {
    margin: 0 12px;
}

.experience-slider .slider-title {
    width: 75%;
    margin: 0 auto;
    padding: 12px 20px;
    text-align: center;
    color: var(--primary_color);
    background-color: #e9dccd;
    transform: translateY(-20px);
    -webkit-transform: translateY(-20px);
    -moz-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    -o-transform: translateY(-20px);
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    transition: var(--transition);
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -ms-transition: var(--transition);
    -o-transition: var(--transition);
}

.experience-slider .slider-content:hover .slider-title {
    background-color: #ba9f82;
}

.experience-slider .slider-title h5 {
    text-transform: uppercase;
    font-size: clamp(11px,.846vw,13px);
    line-height: clamp(24px,1.563vw,24px);
    font-family: var(--font_medium);
    letter-spacing: 1.2px;
}

.experiences .experience-slider .slick-dots {
    text-align: center;
    margin-top: 20px;
}

.experiences .experience-slider .slick-dots li {
    margin: 0;
    display: inline-block;
    width: 8%;
    transition: var(--transition);
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -ms-transition: var(--transition);
    -o-transition: var(--transition);
    background: var(--primary_light);
    height: 1px;
}

.experiences .experience-slider .slick-dots li.slick-active {
    width: 16%;
    height: 2px;
    background: var(--primary_color);
    transform: translateY(-1px);
    -webkit-transform: translateY(-1px);
    -moz-transform: translateY(-1px);
    -ms-transform: translateY(-1px);
    -o-transform: translateY(-1px);
}

.experiences .experience-slider .slick-dots li button {
    width: 100%;
    border: none;
    color: transparent;
    background-color: transparent;
    transition: var(--transition);
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -ms-transition: var(--transition);
    -o-transition: var(--transition);
}

.experiences .experience-slider .slick-dots li button:before {
    width: 100%;
    height: 100%;
    content: ""
}
/* Experiences CSS End */

.service ul a {
    text-transform: uppercase;
    font-family: var(--font_medium);
    letter-spacing: 1.2px;
    font-size: clamp(11px,.846vw,13px);
    line-height: clamp(24px, 1.563vw, 24px);
    color: var(--primary_color);
}

.service ul a {
    position: relative;
}

.service ul a::after {
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    height: 2px;
    width: 60%;
    background-color: var(--primary_color);
    transition: var(--transition);
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -ms-transition: var(--transition);
    -o-transition: var(--transition);
}

.service ul a:hover::after {
    width: 80%;
}
/* Service CSS End */

.testimonial-card {
    background-color: #e9dccd;
}

.testimonial-card .img img {
    height: 200px;
    object-fit: cover;
    object-position: center;
}

.testimonial-card .content {
    padding: 8.1% 9.5%;
}

.testimonial-card h3 {
    text-transform: uppercase;
    font-size: clamp(15px,1.302vw,20px);
    line-height: clamp(20px,1.628vw,25px);
    color: var(--primary_color);
}

.testimonial-card p {
    font-family: var(--font_light);
    font-size: clamp(11px,.911vw,14px);
    line-height: clamp(20px,1.563vw,24px);
    color: #5c5f5f;
}

.testimonial-card ul i {
    font-size: clamp(11px,0.977vw,15px);
    color: var(--primary_color);
}
/* Testimonial CSS End */

.main-footer {
    color: var(--primary_color);
    font-size: clamp(12px,1.041vw,16px);
    line-height: clamp(20px,1.953vw,30px);
}

.main-footer .logo img {
    width: 180px;
}

.main-footer address {
    color: var(--primary_color);
}

.main-footer .d-flex ul a {
    color: var(--primary_color);
    padding-bottom: 2%;
}

.main-footer .d-flex ul a:hover {
    text-decoration: underline;
}

.main-footer .contact li {
    padding-bottom: 2%;
}

.main-footer .contact a,
.main-footer .contact span {
    color: var(--primary_color);
}

.main-footer .contact a:hover {
    text-decoration: underline;
}

.main-footer .social a {
    font-size: 20px;
    color: var(--primary_color);
}

.main-footer hr {
    border-color: var(--primary_dark);
}

.main-footer .copyright,
.main-footer .copyright a {
    color: var(--primary_color);
}

.main-footer .copyright a:hover {
    text-decoration: underline;
}
/* Footer CSS End */